In [12]:
import numpy as np
import awkward as ak

from coffea.nanoevents import NanoEventsFactory

fname = "../tmp_inputs/test_HHggtautau_2018.root"
events = NanoEventsFactory.from_root(fname, entry_stop=10000).events()

/afs/cern.ch/work/h/hmei/myWorkspace/envs/lib/python3.9/site-packages/coffea/nanoevents/schemas/nanoaod.py:193: RuntimeWarning: Missing cross-reference index for FatJet_genJetAK8Idx => GenJetAK8
  warnings.warn(
/afs/cern.ch/work/h/hmei/myWorkspace/envs/lib/python3.9/site-packages/coffea/nanoevents/schemas/nanoaod.py:193: RuntimeWarning: Missing cross-reference index for FatJet_subJetIdx1 => SubJet
  warnings.warn(
/afs/cern.ch/work/h/hmei/myWorkspace/envs/lib/python3.9/site-packages/coffea/nanoevents/schemas/nanoaod.py:193: RuntimeWarning: Missing cross-reference index for FatJet_subJetIdx2 => SubJet
  warnings.warn(

In [19]:
genTau = events.GenPart[ (abs(events.GenPart.pdgId) == 15) & (events.GenPart.status == 2)]

In [26]:
(unique, counts) = np.unique(ak.num(genTau).to_numpy(), return_counts=True)
print (f"number of {unique} genTau with stauts = 2, and their frequencies are {counts}")

number of [2 3 4] genTau with stauts = 2, and their frequencies are [9852  144    4]

### what about requring distinct parent?

In [45]:
genTau_fromH = genTau[genTau.distinctParent.pdgId == 25]

In [46]:
(unique_fromH, counts_fromH) = np.unique(ak.num(genTau_fromH).to_numpy(), return_counts=True)
print (f"number of {unique_fromH} genTau with stauts = 2, and their frequencies are {counts_fromH}")

number of [2] genTau with stauts = 2, and their frequencies are [10000]

**Always 2 genParticle with abs(pdgID) = 15 and status = 2 and with distinct parent being a Higgs!**

### Tau decays to e or mu 35.2%, tau decays to hadronic 64.8%
### assuming every genVisTau correspond to hadronic decay of tau

- probablity to have at 0 genVisTau: 0.352*0.352 = 0.12
- probablity to have at 2 genVisTau: 0.653*0.653 = 0.43
- probablity to have at 1 genVisTau: 1-0.12-0.43 = 0.45

In [48]:
genVisTau = events.GenVisTau
genVisTau

In [72]:
ak.num(genVisTau)
(unique_genVisTau, counts_genVisTau) = np.unique(ak.num(genVisTau).to_numpy(), return_counts=True)
print (f"number of {unique_genVisTau}, and their frequencies are {counts_genVisTau}")

number of [0 1 2 3 4], and their frequencies are [1503 4772 3720    4    1]

MORE OR LESS CONSISTENT WITH CALCULATION ABOVE...

- Number of genVisTau more or less represent number of hadronic decay taus at gen-level

In [73]:
ak.to_list(genVisTau.parent.pdgId[:20])

[[-1],
 [22, 22],
 [22],
 [21, 16],
 [21],
 [1, 2],
 [111, 211],
 [22, -15],
 [3, -423],
 [111],
 [22, 22],
 [111, -211],
 [22],
 [],
 [2, 21],
 [-15],
 [-1, 2],
 [-15],
 [21],
 [None, None]]

In [65]:
genVisTau.genPartIdxMother

In [78]:
ak.to_pandas(events.GenPart[0])

                childrenIdxG  distinctChildrenIdxG  distinctParentIdxG  \
entry subentry
0     0                    2                     2                  -1
      1                    3                     3                  -1
12    0                   14                    14                   0
      1                   15                    15                   0
13    0                   16                    16                   0
      1                   17                    17                   0
16    0                   27                    27                  13
      1                   28                    28                  13
      2                   29                    29                  13
17    0                   24                    24                  13
      1                   25                    25                  13
      2                   26                    26                  13
18    0                   30                    30                  -1
      1                   31                    31                  -1
20    0                   32                    32                  -1
      1                   33                    33                  -1
25    0                   34                    34                  17
      1                   35                    35                  17

                         eta  genPartIdxMother  genPartIdxMotherG   mass  \
entry subentry
0     0         23232.000000                -1                 -1    0.0
      1         23232.000000                -1                 -1    0.0
12    0            -0.781250                10                 10  125.0
      1            -0.781250                10                 10  125.0
13    0             2.265625                11                 11  125.0
      1             2.265625                11                 11  125.0
16    0             2.703125                13                 13    0.0
      1             2.703125                13                 13    0.0
      2             2.703125                13                 13    0.0
17    0             0.750000                13                 13    0.0
      1             0.750000                13                 13    0.0
      2             0.750000                13                 13    0.0
18    0            -1.652344                -1                 -1    0.0
      1            -1.652344                -1                 -1    0.0
20    0             0.578125                -1                 -1    0.0
      1             0.578125                -1                 -1    0.0
25    0             0.779297                17                 17    0.0
      1             0.779297                17                 17    0.0

                pdgId       phi         pt  status  statusFlags
entry subentry
0     0            21  0.000000   0.000000      21        10625
      1            21  0.000000   0.000000      21        10625
12    0            25 -0.424805  37.875000      62        26881
      1            25 -0.424805  37.875000      62        26881
13    0            25  3.125000  85.500000      62        10497
      1            25  3.125000  85.500000      62        10497
16    0            15  2.578125  49.125000       2        12675
      1            15  2.578125  49.125000       2        12675
      2            15  2.578125  49.125000       2        12675
17    0           -15 -2.625000  50.625000       2        12675
      1           -15 -2.625000  50.625000       2        12675
      2           -15 -2.625000  50.625000       2        12675
18    0             3  0.875000   2.367188      71         8193
      1             3  0.875000   2.367188      71         8193
20    0             1  0.714844   2.414062      71         8193
      1             1  0.714844   2.414062      71         8193
25    0           111 -2.593750   6.484375       2        30270
      1           111 -2.593750   6.484375       2        30270

but genPartIdx of genVisTau is messed up..., the problem might be coffea...

## try non-coffea way of doing things

In [79]:
import uproot
file = uproot.open(fname)

In [82]:
tree = file['Events']

In [83]:
keys_to_save = tree.keys(filter_name = "GenPart_*") + tree.keys(filter_name = "GenVisTau_*")
genStuff = file["Events"].arrays(keys_to_save, library="ak", how="zip")
genStuff

In [84]:
gvt = genStuff.GenVisTau
gp = genStuff.GenPart
gvt, gp

(<Array [[{eta: 0.729, mass: 0.82, ... []] type='15817 * var * {"eta": float32, "...'>,
 <Array [[{eta: 2.32e+04, ... ] type='15817 * var * {"eta": float32, "mass": floa...'>)

In [87]:
gvt.genPartIdxMother

- looks like a nanoaod bug

In [104]:
values_lep_from_tau, counts_lep_from_tau = np.unique( ak.num( gp[ abs(gp[ gp[((abs(gp.pdgId) == 13) | (abs(gp.pdgId) == 11)) & (gp.status == 1)].genPartIdxMother].pdgId) == 15] ).to_numpy(), return_counts=True)
print (f"fraction of events with 2 leptons from 2 taus decay: {counts_lep_from_tau[2]/len(gp):0.2f}")
print (f"fraction of events with 1 leptons from 2 taus decay: {counts_lep_from_tau[1]/len(gp):0.2f}")
print (f"fraction of events with 0 leptons from 2 taus decay: {counts_lep_from_tau[0]/len(gp):0.2f}")

fraction of events with 2 leptons from 2 taus decay: 0.12
fraction of events with 1 leptons from 2 taus decay: 0.45
fraction of events with 0 leptons from 2 taus decay: 0.43